########################################
# Repository
########################################

GITHUB_REPO="https://github.com/rahmanlibi47/live-ai-audio-transcription.git"
PROJECT_NAME="live-ai-audio-transcription"

########################################
# Project Structure
########################################

FRONTEND_DIR="frontend"
BACKEND_DIR="server"

########################################
# Backend
########################################

APP_MODULE="main:app"
SERVICE_NAME="$PROJECT_NAME"
PORT=8000
VENV_NAME="venv"

########################################
# Frontend
########################################

BUILD_DIR="dist"

########################################
# Nginx
########################################

DOMAIN="_"
NGINX_ROOT="/var/www/$PROJECT_NAME"

########################################
# Python
########################################

PYTHON="python3"

########################################
# Node
########################################

NODE_MAJOR=22